@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

#container{
    /* border: red 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#you-details, .you{
    color: #ee964b;
}

#computer-details, .computer{
    color: #586ba4
}

#you-details, #computer-details{
    display: flex;
    align-items: center;
}

#participant-name{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#rock, #paper, #scissors, #computer-selection div{
    background-color: white;
    background-size: cover;
    border: none;
    width: 180px;
    height: 180px;
}

#selection{
    display: flex;
    flex-direction: column;
}

#my-selection{
    display: flex;
}

button{
    cursor: pointer;
}

#text-feedback-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    font-size: 0.6rem;
    background-color: black;
    color: white;
    text-align: center;
}

#computer-selection{
    display: flex;
}

#computer-selection div{
    transform: rotate(180deg);
}

#rock{
    background-image: url("../images/rock-you.png");
}

#paper{
    background-image: url("../images/paper-you.png");
}

#scissors{
    background-image: url("../images/scissors-you.png");
}

.rock{
    background-image: url("../images/rock-computer.png");
}

.paper{
    background-image: url("../images/paper-computer.png");
}

.scissors{
    background-image: url("../images/scissors-computer.png");
}

.remove-background-image{
    background-image: none;
}

.reduce-font{
    font-size: 0.4rem !important;
}